{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base05">[</span><span class="base08">E</span><span class="base09">d</span><span class="base0a">u</span><span class="base0b">K</span><span class="base0c">i</span><span class="base0d">d</span><span class="base0e">d</span><span class="base05">]</span>
  <span class="base05"># _</span>
</h1>

<div class="hero-logo">
  <img src="{{ "img/base16-eighties.svg" | relURL }}">
</div>

<div style="text-align: center;">
  Making programming fun through physical computing
</div>
