{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base05">[</span><span class="base08">R</span><span class="base08">a</span><span class="base08">s</span><span class="base08">p</span><span class="base08">i</span><span class="base0b">K</span><span class="base0b">i</span><span class="base0b">d</span><span class="base0b">d</span><span class="base05">]</span>
  <span class="base05"># _</span>
</h1>

<div class="hero-logo">
  <img src="{{ "img/base16-eighties.svg" | relURL }}">
</div>

<div style="text-align: center;">
  Making programming fun through physical computing
</div>
